<ng-container *transloco="let t">
  <div class="flex gap-5">
    @if (updates().length > 0) {
      <div class="cursor-pointer" (click)="scheduleUpdates()">
        <p-overlay-badge [value]="updates().length" [pTooltip]="t('systemStatus.updates')" tooltipPosition="bottom">
          <i class="pi pi-bell" style="font-size: 1rem"></i>
        </p-overlay-badge>
      </div>
    }
    @if (pacFiles().length > 0) {
      <div class="cursor-pointer" (click)="pacdiffDialogVisible.set(true)">
        <p-overlay-badge
          [value]="pacFiles().length"
          severity="warn"
          [pTooltip]="t('systemStatus.pacFiles')"
          tooltipPosition="bottom"
        >
          <i class="pi pi-pen-to-square" style="font-size: 1rem"></i>
        </p-overlay-badge>
      </div>
    }
    @if (warnUpdate()) {
      <div class="cursor-pointer" (click)="scheduleUpdates()">
        <p-overlay-badge [pTooltip]="t('systemStatus.warnUpdate')" value="!" severity="danger" tooltipPosition="bottom">
          <i class="pi pi-exclamation-triangle" style="font-size: 1rem"></i>
        </p-overlay-badge>
      </div>
    }
  </div>

  <p-dialog [(visible)]="dialogVisible" [header]="t('systemStatus.pendingUpdates')" [modal]="true">
    <ul>
      @for (update of updates(); track update.pkg) {
        <li>
          {{ update.pkg }}: {{ update.version }} -> <span class="text-primary-emphasis">{{ update.newVersion }}</span>
          @if (update.aur) {
            <span
              [pTooltip]="t('systemStatus.aurUpdates')"
              tooltipPosition="bottom"
              class="ml-1 text-primary-emphasis-alt"
              >AUR<i class="ml-1 pi pi-info-circle"></i>
            </span>
          }
        </li>
      }
    </ul>

    <div class="flex justify-end gap-2">
      <p-button (click)="dialogVisible.set(false)" [label]="t('systemStatus.cancel')" severity="secondary" />
      <p-button
        (click)="scheduleUpdates(true)"
        [disabled]="buttonDisabled()"
        [label]="t('systemStatus.scheduleUpdates')"
        severity="success"
      />
    </div>
  </p-dialog>

  <p-dialog [(visible)]="pacdiffDialogVisible" [header]="t('systemStatus.pendingPacdiff')" [modal]="true">
    <p class="text-left text-lg font-bold">{{ t('systemStatus.affectedFiles') }}</p>
    <ul>
      @for (file of pacFiles(); track file) {
        <li>{{ file }}</li>
      }
    </ul>

    <div>
      <p class="text-left text-lg font-bold">Here is how to proceed:</p>
      <ul>
        <li>
          <a
            class="cursor-pointer text-primary"
            (click)="open('https://wiki.archlinux.org/title/Pacman/Pacnew_and_Pacsave')"
          >
            {{ t('systemStatus.learnPacdiff') }}</a
          >
        </li>
        <li>{{ t('systemStatus.openMaintenance') }}</li>
        @if (compareTool() === 'kompare') {
          <li>
            <a
              class="cursor-pointer text-primary"
              (click)="open('https://docs.kde.org/trunk5/en/kompare/kompare/merging-differences.html')"
            >
              {{ t('systemStatus.openKompare') }}</a
            >
          </li>
        } @else if (compareTool() === 'meld') {
          <li>
            <a class="cursor-pointer text-primary" (click)="open('https://meldmerge.org/help/file-mode.html')">
              {{ t('systemStatus.openMeld') }}</a
            >
          </li>
        }
      </ul>
    </div>

    <div class="flex justify-end gap-2">
      <p-button (click)="pacdiffDialogVisible.set(false)" [label]="t('systemStatus.cancel')" severity="secondary" />
      <p-button
        class="cursor-pointer"
        routerLink="/maintenance"
        severity="success"
        [label]="t('systemStatus.openMaintenanceButton')"
      />
    </div>
  </p-dialog>
</ng-container>
