<ng-container *transloco="let t">
  <div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="mb-5 font-bold text-3xl">
      <span class="text-color">{{ t('gaming.title') }} </span>
      <span class="text-primary">{{ t('gaming.titleTwo') }}</span>
    </div>
    <div class="text-color text-xl mb-10">{{ t('gaming.subtitle') }}</div>
  </div>
  <div class="p-10">
    <p-data-view [value]="launchers">
      <ng-template #header>
        <div class="flex flex-col md:flex-row md:justify-between">
          <p-select placeholder="Sort By Name" styleClass="mb-2 md:mb-0" />
        </div>
      </ng-template>
      <ng-template #list let-items>
        <div class="grid grid-cols-12 gap-4 grid-nogutter">
          <div *ngFor="let item of items; let first = first" class="col-span-2">
            <div
              [ngClass]="{ 'border-t border-surface-200 dark:border-surface-700': !first }"
              class="flex flex-col sm:flex-row sm:items-center p-6 gap-4"
            >
              <div class="md:w-40 relative">
                <img
                  [alt]="item.name"
                  class="block xl:block mx-auto rounded-border w-full"
                  height="32"
                  src="/assets/favicon-32x32.png"
                  width="32"
                />
              </div>
              <div class="flex flex-col md:flex-row justify-between md:items-center flex-1 gap-6">
                <div class="flex flex-row md:flex-col justify-between items-start gap-2">
                  <div>
                    <span class="font-medium text-secondary text-sm">{{ item.category }}</span>
                    <div class="text-lg font-medium text-surface-900 dark:text-surface-0 mt-2">{{ item.name }}</div>
                  </div>
                </div>
                <div class="flex flex-row-reverse md:flex-row gap-2">
                  <p-button
                    (click)="addToPending(item)"
                    [icon]="item.selected ? 'pi pi-check-circle' : 'pi pi-circle'"
                    [outlined]="true"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-data-view>

    <div class="mt-10">
      <p-data-view [value]="wine">
        <ng-template #header>
          <div class="flex flex-col md:flex-row md:justify-between">
            <p-select placeholder="Sort By Name" styleClass="mb-2 md:mb-0" />
          </div>
        </ng-template>
        <ng-template #list let-items>
          <div class="grid grid-cols-12 gap-4 grid-nogutter">
            <div *ngFor="let item of items; let first = first" class="col-span-2">
              <div
                [ngClass]="{ 'border-t border-surface-200 dark:border-surface-700': !first }"
                class="flex flex-col sm:flex-row sm:items-center p-6 gap-4"
              >
                <div class="md:w-40 relative">
                  <img
                    [alt]="item.name"
                    class="block xl:block mx-auto rounded-border w-full"
                    height="32"
                    src="/assets/favicon-32x32.png"
                    width="32"
                  />
                </div>
                <div class="flex flex-col md:flex-row justify-between md:items-center flex-1 gap-6">
                  <div class="flex flex-row md:flex-col justify-between items-start gap-2">
                    <div>
                      <span class="font-medium text-secondary text-sm">{{ item.category }}</span>
                      <div class="text-lg font-medium text-surface-900 dark:text-surface-0 mt-2">{{ item.name }}</div>
                    </div>
                  </div>
                  <div class="flex flex-row-reverse md:flex-row gap-2">
                    <p-button
                      (click)="addToPending(item)"
                      [icon]="item.selected ? 'pi pi-check-circle' : 'pi pi-circle'"
                      [outlined]="true"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </p-data-view>
    </div>
  </div>
</ng-container>
