<ng-container *transloco="let t">
  <div class="surface-section px-4 md:px-6 lg:px-8 text-center">
    <div class="font-bold text-3xl">
      <span class="text-color">{{ t('diagnostics.title') }} </span>
      <span class="text-primary">{{ t('diagnostics.titleTwo') }}</span>
    </div>
  </div>
  <div class="px-10 pt-10">
    <div class="justify-evenly flex gap-4">
      <p-button
        (click)="getOutput('inxi')"
        [label]="t('diagnostics.inxi')"
        [outlined]="true"
        icon="pi-terminal pi">
      </p-button>
      <p-button
        (click)="getOutput('systemd-analyze')"
        [label]="t('diagnostics.systemctl')"
        [outlined]="true"
        icon="pi-terminal pi"
      ></p-button>
      <p-button
        (click)="getOutput('journalctl')"
        [label]="t('diagnostics.journalctl')"
        [outlined]="true"
        icon="pi-terminal pi"
      ></p-button>
      <p-button
        (click)="getOutput('pacman')"
        [label]="t('diagnostics.pacman')"
        [outlined]="true"
        icon="pi-terminal pi"
      ></p-button>
      <p-button
        (click)="getOutput('dmesg')"
        [label]="t('diagnostics.dmesg')"
        [outlined]="true"
        icon="pi-terminal pi"
      ></p-button>
      <p-button
        (click)="getFullLogs()"
        [label]="t('diagnostics.full')"
        [outlined]="true"
        icon="pi-terminal pi"
      ></p-button>
      <p-button
        (click)="uploadPrivateBin()"
        [label]="t('diagnostics.upload')"
        [outlined]="true"
        icon="pi-terminal pi"
      ></p-button>
    </div>

    <div class="mt-5 h-[80vh]">
      <ng-terminal #term [xtermOptions]="xtermOptions"></ng-terminal>
    </div>
  </div>
</ng-container>
