<ng-container *transloco="let t">
  <div class="surface-section px-4 md:px-6 lg:px-8 text-center">
    <div class="font-bold text-3xl">
      <span class="text-color">{{ t('systemTools.title') }} </span>
      <span class="text-primary">{{ t('systemTools.titleTwo') }}</span>
    </div>
  </div>
  <div class="p-10">
    <p-tabs [(value)]="tabIndex">
      <p-tablist>
        <p-tab [value]="0">{{ t('systemTools.components') }}</p-tab>
        <p-tab [value]="1">{{ t('systemTools.systemSettings') }}</p-tab>
        <p-tab [value]="2">{{ t('systemTools.packages') }}</p-tab>
        <p-tab [value]="3">{{ t('systemTools.systemdServices') }}</p-tab>
      </p-tablist>
      <p-tabpanels>
        <p-tabpanel [value]="0">
          <rani-system-components></rani-system-components>
        </p-tabpanel>
        <p-tabpanel [value]="1">
          <rani-system-settings></rani-system-settings>
        </p-tabpanel>
        <p-tabpanel [value]="2">
          <rani-packages></rani-packages>
        </p-tabpanel>
        <p-tabpanel [value]="3">
          <rani-systemd-services></rani-systemd-services>
        </p-tabpanel>
      </p-tabpanels>
    </p-tabs>
  </div>
</ng-container>
