<ng-container *transloco="let t">
  <div class="my-5 text-center">
    <p-tag severity="success">
      <div class="flex items-center gap-2 px-1">
        <span>{{ t('kernels.active') }}</span>
        <span>
          {{ configService.state().kernel }}
        </span>
      </div>
    </p-tag>
    @if (kernelsService.headersMissing()) {
      <p-tag
        (click)="installMissingHeaders(true)"
        [value]="t('kernels.headersMissing')"
        icon="pi pi-info-circle"
        ngClass="ml-5 cursor-pointer"
        severity="danger"
      ></p-tag>
    }
    @if (kernelsService.dkmsModulesBroken()) {
      <p-tag
        (click)="reinstallDkmsModules(true, 'broken')"
        [value]="t('kernels.dkmsModulesBroken')"
        icon="pi pi-info-circle"
        ngClass="ml-5 cursor-pointer"
        severity="danger"
      ></p-tag>
    }
    @if (kernelsService.dkmsModulesMissing()) {
      <p-tag
        (click)="reinstallDkmsModules(true, 'missing')"
        [value]="t('kernels.dkmsModulesMissing')"
        icon="pi pi-info-circle"
        ngClass="ml-5 cursor-pointer"
        severity="danger"
      ></p-tag>
    }
  </div>
  @if (kernelsService.loading()) {
    <p-data-view [value]="kernelsService.kernels()">
      <ng-template #list let-kernels>
        <div class="flex flex-col">
          <div *ngFor="let i of counterArray(10)">
            <div class="flex flex-1 flex-col items-center justify-between gap-6 sm:flex-row xl:items-start">
              <div class="my-5 flex flex-col items-center sm:items-start">
                <p-skeleton width="8rem" height="2rem" />
              </div>
              <div class="flex items-center gap-4 sm:flex-col sm:items-end sm:gap-2">
                <p-skeleton width="4rem" height="2rem" />
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-data-view>
  } @else {
    <p-data-view [value]="kernelsService.kernels()">
      <ng-template #list let-kernels>
        <div class="grid-nogutter grid grid-cols-12 gap-4">
          <div class="col-span-12" *ngFor="let kernel of kernels">
            <div class="flex flex-col gap-4 p-6 sm:flex-row sm:items-center">
              <div>
                <p-check-box
                  ngClass="mr-5"
                  (onChange)="togglePackage(kernel)"
                  [binary]="true"
                  [(ngModel)]="kernel.selected"
                ></p-check-box>
              </div>
              <div class="flex flex-1 flex-col justify-between gap-6 md:flex-row md:items-center">
                <div class="flex flex-row items-start justify-between gap-2 md:flex-col">
                  <div>
                    <span class="text-lg font-medium text-primary">{{ kernel.pkgname[0] }}</span>
                    <div class="text-secondary mt-2 text-sm font-medium">{{ kernel.description }}</div>
                  </div>
                </div>
                <div class="flex flex-row items-center justify-between gap-2 md:flex-col">
                  <p-tag ngClass="mr-2" [value]="kernel.version"></p-tag>
                  @if (kernel.selected && kernel.headersSelected) {
                    <p-tag ngClass="mx-1" [value]="t('kernels.headers')" severity="success"></p-tag>
                  } @else if (kernel.selected && !kernel.headersSelected) {
                    <p-tag
                      (click)="installMissingHeaders(kernel)"
                      [pTooltip]="t('kernels.headersMissingTip')"
                      [value]="t('kernels.headers')"
                      ngClass="mx-1 cursor-pointer"
                      icon="pi pi-info-circle"
                      severity="danger"
                    >
                    </p-tag>
                  }
                  @if (kernel.dkmsModulesMissing.length > 0) {
                    @for (module of kernel.dkmsModulesMissing; track module) {
                      <p-tag
                        (click)="reinstallDkmsModules(kernel, 'missing')"
                        [pTooltip]="t('kernels.dkmsModulesMissingTip')"
                        [value]="module"
                        ngClass="mx-1 cursor-pointer"
                        icon="pi pi-info-circle"
                        severity="danger"
                      >
                      </p-tag>
                    }
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-data-view>
  }
</ng-container>
