<ng-container *transloco="let t">
  <p-context-menu [global]="true" [model]="rightClickMenu()"/>
  <div class="background min-h-svh">
    <garuda-shell
      [menuItems]="menuItems()"
      id="shellBar"
    >
      @if (!configService.state().isMaximized && configService.settings().leftButtons) {
        <div garudaShellBarStart>
          <div class="flex">
            <img
              (click)="appWindow.close()"
              alt="close"
              class="mx-1"
              height="16"
              ngSrc="/assets/window/close-main.svg"
              width="16"
            />
            <img
              (click)="appWindow.toggleMaximize()"
              alt="maximize"
              class="mx-1"
              height="16"
              ngSrc="/assets/window/maximize-main.svg"
              width="16"
            />
            <img
              (click)="appWindow.minimize()"
              alt="minimize"
              class="mx-1"
              height="16"
              ngSrc="/assets/window/minimize-main.svg"
              width="16"
            />
          </div>
        </div>
      } @else if (!configService.settings().leftButtons) {
        <div garudaShellBarStart>
          @if (loadingService.loading$ | async) {
            <p-progress-spinner
              [style]="{ width: '1.5rem', height: '1.5rem', 'margin-top': 'auto', 'margin-bottom': 'auto' }"
              ariaLabel="loading"/>
          }
        </div>
      }
      @if (!configService.state().isMaximized && !configService.settings().leftButtons) {
        <div garudaShellBarEnd>
          <div class="flex">
            <img
              (click)="appWindow.minimize()"
              alt="minimize"
              class="mx-1"
              height="16"
              ngSrc="/assets/window/minimize-main.svg"
              width="16"
            />
            <img
              (click)="appWindow.toggleMaximize()"
              alt="maximize"
              class="mx-1"
              height="16"
              ngSrc="/assets/window/maximize-main.svg"
              width="16"
            />
            <img
              (click)="appWindow.close()"
              alt="close"
              class="mx-1"
              height="16"
              ngSrc="/assets/window/close-main.svg"
              width="16"
            />
          </div>
        </div>
      } @else if (configService.settings().leftButtons) {
        <div garudaShellBarEnd>
          @if (loadingService.loading$ | async) {
            <p-progress-spinner
              [style]="{ width: '1.5rem', height: '1.5rem', 'margin-top': 'auto', 'margin-bottom': 'auto' }"
              strokeWidth="10"
              ariaLabel="loading"/>
          }
        </div>
      }
      <div class="mt-5">
        <router-outlet></router-outlet>
      </div>
      <p-scroll-top></p-scroll-top>
    </garuda-shell>
  </div>

  <p-confirm-dialog></p-confirm-dialog>
  <rani-privilege-manager #privilegeManagerComponent></rani-privilege-manager>
  <rani-terminal #terminalComponent></rani-terminal>
  <rani-operation-manager #operationManagerComponent></rani-operation-manager>
  <rani-language-switcher #languageSwitcherComponent></rani-language-switcher>
</ng-container>
