<ng-container *transloco="let t">
  <p-context-menu [global]="true" [model]="rightClickMenu()" />
  <div class="background min-h-svh">
    <garuda-shell [menuItems]="menuItems()" id="shellBar">
      @if (!hideWindowButtons() && configService.settings().leftButtons) {
        <div garudaShellBarStart>
          <div class="flex">
            <img
              #closeButton
              (click)="appWindow.close()"
              (mouseenter)="closeButton.src = '/assets/window/close-hover.svg'"
              (mouseleave)="closeButton.src = '/assets/window/close-main.svg'"
              alt="close"
              class="mx-1"
              height="16"
              ngSrc="/assets/window/close-main.svg"
              width="16"
            />
            <img
              #maximizeButton
              (click)="appWindow.toggleMaximize()"
              (mouseenter)="maximizeButton.src = '/assets/window/maximize-hover.svg'"
              (mouseleave)="maximizeButton.src = '/assets/window/maximize-main.svg'"
              alt="maximize"
              class="mx-1"
              height="16"
              ngSrc="/assets/window/maximize-main.svg"
              width="16"
            />
            <img
              #minimizeButton
              (click)="appWindow.minimize()"
              (mouseenter)="minimizeButton.src = '/assets/window/minimize-hover.svg'"
              (mouseleave)="minimizeButton.src = '/assets/window/minimize-main.svg'"
              alt="minimize"
              class="mx-1"
              height="16"
              ngSrc="/assets/window/minimize-main.svg"
              width="16"
            />
          </div>
        </div>
      } @else if (!configService.settings().leftButtons) {
        <div garudaShellBarStart>
          @if (loadingService.loading()) {
            <p-progress-spinner
              [style]="{ 'width': '1.5rem', 'height': '1.5rem', 'margin-top': 'auto', 'margin-bottom': 'auto' }"
              ariaLabel="loading"
            />
          }
        </div>
      }
      @if (!hideWindowButtons() && !configService.settings().leftButtons) {
        <div garudaShellBarEnd>
          <div class="flex">
            <img
              #minimizeButton
              (click)="appWindow.minimize()"
              (mouseenter)="minimizeButton.src = '/assets/window/minimize-hover.svg'"
              (mouseleave)="minimizeButton.src = '/assets/window/minimize-main.svg'"
              alt="minimize"
              class="mx-1"
              height="16"
              ngSrc="/assets/window/minimize-main.svg"
              width="16"
            />
            <img
              #maximizeButton
              (click)="appWindow.toggleMaximize()"
              (mouseenter)="maximizeButton.src = '/assets/window/maximize-hover.svg'"
              (mouseleave)="maximizeButton.src = '/assets/window/maximize-main.svg'"
              alt="maximize"
              class="mx-1"
              height="16"
              ngSrc="/assets/window/maximize-main.svg"
              width="16"
            />
            <img
              #closeButton
              (click)="appWindow.close()"
              (mouseenter)="closeButton.src = '/assets/window/close-hover.svg'"
              (mouseleave)="closeButton.src = '/assets/window/close-main.svg'"
              alt="close"
              class="mx-1"
              height="16"
              ngSrc="/assets/window/close-main.svg"
              width="16"
            />
          </div>
        </div>
      } @else if (configService.settings().leftButtons) {
        <div garudaShellBarEnd>
          @if (loadingService.loading()) {
            <p-progress-spinner
              [style]="{ 'width': '1.5rem', 'height': '1.5rem', 'margin-top': 'auto', 'margin-bottom': 'auto' }"
              strokeWidth="10"
              ariaLabel="loading"
            />
          }
        </div>
      }
      <div class="mt-5">
        <router-outlet></router-outlet>
      </div>
      <p-scroll-top></p-scroll-top>
    </garuda-shell>
  </div>

  <p-confirm-dialog></p-confirm-dialog>
  <rani-terminal #terminalComponent></rani-terminal>
  <rani-operation-manager #operationManagerComponent></rani-operation-manager>
</ng-container>
