<ng-container *transloco="let t">
  <ng-template #popup>
    <div class="flex h-[96%]">
      <div>
        <p-scroll-panel [style]="{ width: '100%', height: '100%' }">
          @for (op of taskManagerService.sortedTasks(); track op.id) {
            <p-card styleClass="mt-2" [style]="{ width: '20rem' }">
              <ng-template #header>
                <div class="text-center mt-4">
                  <span class="mr-2 font-bold">{{ t(op.name) }}</span>
                  <i
                    [ngClass]="{
                      'text-yellow-500 pi-hourglass': taskManagerService.currentTask().id !== op.id,
                      'text-orange-500 pi-spin pi-spinner': taskManagerService.currentTask().id === op.id,
                    }"
                    class="pi mr-2"
                  ></i>
                  <!--
                  @if (op.commandArgs.length > 0) {
                    <span (click)="popover.toggle($event)" class="cursor-pointer mr-2">
                      <i class="pi pi-list mr-1 text-primary"></i>
                    </span>
                    <p-popover #popover>
                      <div class="flex flex-col gap-4">
                        <div>
                          <span class="font-medium block mb-2">{{ t('operation.args') }}</span>
                          <ul class="list-none p-0 m-0 flex flex-col">
                            @for (arg of op.commandArgs; track arg) {
                              <li
                                class="flex items-center gap-2 px-2 py-3 hover:bg-emphasis cursor-pointer rounded-border"
                              >
                                <span class="font-medium">{{ arg }}</span>
                              </li>
                            }
                          </ul>
                        </div>
                      </div>
                    </p-popover>
                  }
                  -->
                </div>
              </ng-template>
              <div class="mt-2.5 text-center">
                <span (click)="taskManagerService.removeTask(op)" class="cursor-pointer mr-2.5">
                  <i class="pi pi-minus-circle mr-1 text-primary-emphasis"></i>{{ t('operation.remove') }}
                </span>
                <!--
                @if (op.status === 'running') {
                  <span (click)="operationManager.abortRunning()" class="cursor-pointer mr-2.5">
                    <i class="pi pi-minus-circle mr-1 text-primary-emphasis"></i>{{ t('operation.abort') }}
                  </span>
                }
                  -->
                @if (!taskManagerService.running()) {
                  <span (click)="taskManagerService.executeTask(op)" class="cursor-pointer mr-2.5">
                    <i class="pi pi-play-circle mr-1 text-green-300"></i>{{ t('operation.run') }}
                  </span>
                }
              </div>
            </p-card>
          }
        </p-scroll-panel>
      </div>
      <div class="w-full">
        <ng-terminal #term [xtermOptions]="xtermOptions()"></ng-terminal>
      </div>
    </div>
  </ng-template>

  <p-dialog
    #dialog
    [(visible)]="visible"
    [focusOnShow]="true"
    [modal]="true"
    [style]="{ width: '95vw', height: '95vh' }"
  >
    <ng-template #header>
      <div class="inline-flex items-center justify-center gap-2">
        <span class="cursor-pointer font-bold whitespace-nowrap mr-2.5"
          >{{
            t('terminal.title') + (taskManagerService.currentTask() ? ' - ' + taskManagerService.currentTask() : '')
          }}
        </span>
        <span (click)="taskManagerService.executeTasks()" class="cursor-pointer mr-2.5">
          <i class="pi pi-play-circle mr-1 text-primary"></i>{{ t('terminal.runActions') }}
        </span>
        <span (click)="taskManagerService.clearTasks()" class="cursor-pointer">
          <i class="pi pi-stop-circle mr-1 text-primary-emphasis"></i>{{ t('terminal.removeAll') }}
        </span>
        @if (taskManagerService.count() > 0 && taskManagerService.running()) {
          <span (click)="taskManagerService.abort()" class="cursor-pointer">
            <i class="pi pi-minus-circle mr-1 text-primary-emphasis"></i>{{ t('terminal.abortAll') }}
          </span>
        }
      </div>
    </ng-template>

    <ng-container *ngTemplateOutlet="popup"></ng-container>
    @if (progressTracker()) {
      <p-progress-bar [value]="progressTracker()"></p-progress-bar>
    }
  </p-dialog>
</ng-container>
