<ng-container *transloco="let t">
  <ng-template #popup>
    <div class="flex h-[96%]">
      <div>
        <p-scroll-panel [style]="{ width: '100%', height: '100%' }">
          @for (op of taskManagerService.sortedTasks(); track op.id) {
            <p-card styleClass="mt-2" [style]="{ width: '20rem' }">
              <ng-template #header>
                <div class="mt-4 text-center">
                  <span class="mr-2 font-bold">{{ t(op.name) }}</span>
                  <i
                    [ngClass]="{
                      'pi-hourglass text-yellow-500': taskManagerService.currentTask()?.id !== op.id,
                      'pi-spin pi-spinner text-orange-500': taskManagerService.currentTask()?.id === op.id,
                    }"
                    class="pi mr-2"
                  ></i>
                </div>
              </ng-template>
              <div class="mt-2.5 text-center">
                <span (click)="taskManagerService.removeTask(op)" class="mr-2.5 cursor-pointer">
                  <i class="pi pi-minus-circle mr-1 text-primary-emphasis"></i>{{ t('operation.remove') }}
                </span>
                @if (!taskManagerService.running()) {
                  <span (click)="taskManagerService.executeTask(op)" class="mr-2.5 cursor-pointer">
                    <i class="pi pi-play-circle mr-1 text-green-300"></i>{{ t('operation.run') }}
                  </span>
                }
              </div>
            </p-card>
          }
        </p-scroll-panel>
      </div>
      <div class="w-full">
        <ng-terminal #term [xtermOptions]="xtermOptions()"></ng-terminal>
      </div>
    </div>
  </ng-template>

  <p-dialog
    #dialog
    [(visible)]="visible"
    [focusOnShow]="true"
    [modal]="true"
    [style]="{ width: '95vw', height: '95vh' }"
  >
    <ng-template #header>
      <div class="inline-flex items-center justify-center gap-2">
        <span class="mr-2.5 cursor-pointer whitespace-nowrap font-bold"
          >{{
            t('terminal.title') +
              (taskManagerService.currentTask() ? ' - ' + t(taskManagerService.currentTask()!.name) : '')
          }}
        </span>
        @if (taskManagerService.count() > 0 && !taskManagerService.running()) {
          <span (click)="taskManagerService.executeTasks()" class="mr-2.5 cursor-pointer">
            <i class="pi pi-play-circle mr-1 text-primary"></i>{{ t('terminal.runActions') }}
          </span>
          <span (click)="taskManagerService.clearTasks()" class="mr-2.5 cursor-pointer">
            <i class="pi pi-stop-circle mr-1 text-primary-emphasis"></i>{{ t('terminal.removeAll') }}
          </span>
        }
        @if (taskManagerService.count() > 0 && taskManagerService.running()) {
          <span (click)="taskManagerService.abort()" class="mr-2.5 cursor-pointer">
            <i class="pi pi-minus-circle mr-1 text-primary-emphasis"></i>{{ t('terminal.abortAll') }}
          </span>
        }
        @if (taskManagerService.cachedData() !== '') {
          <span (click)="copyToClipboard()" class="mr-2.5 cursor-pointer">
            <i class="pi pi-copy mr-1 text-primary-emphasis-alt"></i>{{ t('terminal.copyOutput') }}
          </span>
          <span (click)="uploadLog()" class="mr-2.5 cursor-pointer">
            <i class="pi pi-upload mr-1 text-primary-emphasis-alt"></i>{{ t('terminal.uploadPrivateBin') }}
          </span>
          <span (click)="clearCache()" class="cursor-pointer">
            <i class="pi pi-copy mr-1 text-primary-emphasis-alt"></i>{{ t('terminal.clearOutputCache') }}
          </span>
        }
      </div>
    </ng-template>

    <ng-container *ngTemplateOutlet="popup"></ng-container>
    @if (progressTracker()) {
      <p-progress-bar [value]="progressTracker()"></p-progress-bar>
    }
  </p-dialog>
</ng-container>
