<ng-container *transloco="let t">
  <div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="mb-5 font-bold text-3xl">
      <span class="text-color">{{ t('welcome.title') }} </span>
      <span class="text-primary">{{ t('welcome.titleTwo') }} "{{ codeName() }}"</span>
    </div>
    <div class="text-color text-xl mb-10">
      <span>{{ t('welcome.subtitle') }} ~ {{ hostname() }}</span>
    </div>
    @if (!appService.settings.showMainLinks) {
      <div class="grid grid-cols-12">
        @for (item of mainLinks; track item.title) {
          <p-card [routerLink]="item.routerLink ?? null" (click)="respondClick(item)"
                  class="cursor-pointer col-span-12 md:col-span-3 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
            <i class="pi {{ item.icon }} text-primary"></i>
          </span>
            <div class="text-primary-emphasis text-xl mb-3 font-medium">{{ t(item.title) }}</div>
            <span class="text-color line-height-3">{{ t(item.subTitle) }}</span>
          </p-card>
        }
      </div>
    }
    <div class="mt-10 grid grid-cols-12">
      @for (item of webLinks; track item.title) {
        <p-card (click)="respondClick(item)" class="cursor-pointer col-span-4 md:col-span-2 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
            <i class="pi {{ item.icon }} text-primary"></i>
          </span>
          <div class="text-primary-emphasis mb-3 font-medium">{{ t(item.title) }}</div>
        </p-card>
      }
    </div>
    <div class="mt-10 grid grid-cols-12">
      @for (item of contactLinks; track item.title) {
        <p-card (click)="respondClick(item)" class="cursor-pointer col-span-12 md:col-span-2 mb-4 px-5">
          <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
            <i class="pi {{ item.icon }} text-primary"></i>
          </span>
          <div class="text-primary-emphasis text-sm mb-3 font-medium">{{ t(item.title) }}</div>
        </p-card>
      }
    </div>
  </div>
</ng-container>
