<ng-container *transloco="let t">
  <div class="surface-section px-4 text-center md:px-6 lg:px-8">
    <div class="text-3xl font-bold">
      <span class="text-color">{{ t('settings.title') }} </span>
      <span class="text-primary">{{ t('settings.titleTwo') }}</span>
    </div>
  </div>

  <div class="p-10">
    <p-panel [header]="t('settings.toggleOptions')" styleClass="mt-5 z-0">
      <div class="grid grid-cols-12 pb-5">
        @for (entry of settings(); track entry.name) {
          <div class="text-sur col-span-12 sm:col-span-6 md:col-span-6 xl:col-span-4">
            <div class="mt-5 pl-20">
              <p-checkbox
                (click)="toggleSetting(entry.name)"
                [inputId]="entry.name"
                [value]="entry.value"
                binary
                [(ngModel)]="entry.value"
                name="group"
              />
              <label [for]="entry.name" class="mx-2.5">
                {{ t('settings.' + entry.name) }}
              </label>
            </div>
          </div>
        }
      </div>
    </p-panel>

    <p-panel [header]="t('settings.selectOptions')">
      <div class="grid grid-cols-4 gap-10 px-20 py-5">
        <div class="3xl:col-span-1 col-span-3 flex flex-col gap-2 md:col-span-2">
          <label for="theme">{{ t('settings.themeLabel') }}</label>
          <p-select
            (ngModelChange)="updateConfig('activeTheme', $event)"
            [(ngModel)]="configService.settings().activeTheme"
            [options]="availableThemes"
            fluid
            id="theme"
          />
        </div>

        <div class="3xl:col-span-1 col-span-3 flex flex-col gap-2 md:col-span-2">
          <label for="select-languages">{{ t('settings.language') }}</label>
          <p-select
            (onChange)="selectLanguage($event)"
            [ngModel]="configService.settings().language"
            [options]="languages()"
            fluid
            id="select-languages"
            optionLabel="label"
            optionValue="language"
          />
        </div>

        <div class="3xl:col-span-1 col-span-3 flex flex-col gap-2 md:col-span-2">
          <label for="select-loglevel">{{ t('settings.logLevel') }}</label>
          <p-select
            (onChange)="selectLogLevel($event)"
            [ngModel]="logLevelType[configService.settings().logLevel]"
            [options]="logLevels"
            fluid
            id="select-loglevel"
          />
        </div>
      </div>
    </p-panel>
  </div>
</ng-container>
